.github/
.husky/
.vscode/
node_modules/
documentation/
reports/
scripts/
tools/
packages/frontend/.next

.env
.editorconfig
.gitignore
.prettierignore
.prettierrc

**/.storybook/*.js
**/.storybook/*.jsx
**/.storybook/*.ts
**/.storybook/*.tsx
*.stories.ts
*.stories.tsx
*.spec.ts
*.spec.tsx
*.test.ts
*.test.tsx
*.d.ts

babel.config.json
jest.*.json

lighthouserc.js
next.config.js
jest.config.ts
jest.preset.js
sentry.client.config.js
sentry.server.config.js