# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
dist
tmp
/out-tsc
dist/
deploy.log
scripts/azure/deploy_as.zip

# Dependencies
node_modules
packages/api/node_modules
packages/frontend/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.env

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# NextJS
.next
packages/frontend/package.json

# Log files
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log


# System Files
.DS_Store
Thumbs.db

# Test output
junit.xml
reports/*

# Prevent npm (yarn only)
package-lock.json

# Misc
/.sass-cache
/connect.lock
/coverage
/typings
.secrets
.mailmap
.cache
.data
.dccache
